CREATE DATABASE library6 ---ejecutar este primero
USE [library6] ---ejecutar este despues
GO
/****** Object:  Table [dbo].[ACQUISITION_TYPES]    Script Date: 10/02/2026 9:17:22 ******/ --- ejecutar de aqui hasta abajo
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACQUISITION_TYPES](
	[ACQUISITION_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACQUISITION_TYPE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ACQUISITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTHORS]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHORS](
	[AUTHOR_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AUTHOR_NAME] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AUTHOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKS]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKS](
	[BOOK_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_CATEGORY] [int] NOT NULL,
	[ID_ACQUISITION] [int] NOT NULL,
	[ID_EDITORIAL] [bigint] NOT NULL,
	[ID_AUTHOR] [bigint] NOT NULL,
	[ID_EDITION] [int] NOT NULL,
	[ID_COUNTRY] [int] NOT NULL,
	[ID_CATALOG] [int] NOT NULL,
	[DEWEY] [varchar](50) NOT NULL,
	[CUTER] [varchar](50) NOT NULL,
	[TITLE] [varchar](200) NOT NULL,
	[YEAR] [varchar](5) NOT NULL,
	[EJEMPLARS] [int] NOT NULL,
	[EXISTENCES] [int] NOT NULL,
	[COVER] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BOOK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATALOGS]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATALOGS](
	[CATALOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATALOG_NAME] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CATALOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[CATEGORY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_NAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUNTRIES]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRIES](
	[COUNTRY_ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY_NAME] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDITIONS]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDITIONS](
	[EDITION_ID] [int] IDENTITY(1,1) NOT NULL,
	[EDITION_NUMBER] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EDITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDITORIALS]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDITORIALS](
	[EDITORIAL_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EDITORIAL_NAME] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EDITORIAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAN_DATES]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAN_DATES](
	[LOAN_DATE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_LOAN] [bigint] NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[STATUS] [tinyint] NOT NULL,
	[LOANSTEACHER_ID] [bigint] NULL,
 CONSTRAINT [PK__LOAN_DAT__66B72D52FA957A3E] PRIMARY KEY CLUSTERED 
(
	[LOAN_DATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAN_TYPES]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAN_TYPES](
	[TYPES_ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPES_NAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TYPES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOANS]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOANS](
	[LOAN_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_TYPE] [int] NOT NULL,
	[ID_RESERVATION] [int] NOT NULL,
	[ID_LENDER] [bigint] NULL,
	[USER_ID] [bigint] NULL,
	[ID_BOOK] [bigint] NOT NULL,
	[COPY] [int] NOT NULL,
	[FEE] [money] NOT NULL,
	[LENDER_CONTACT] [varchar](9) NOT NULL,
	[REGISTRATION_DATE] [datetime] NOT NULL,
	[STATUS] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LOAN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOANSTEACHER]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOANSTEACHER](
	[LOANSTEACHER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PERSONAL_ID] [bigint] NOT NULL,
	[ID_TYPE] [int] NOT NULL,
	[ID_RESERVATION] [int] NOT NULL,
	[ID_BOOK] [bigint] NOT NULL,
	[LENDER_CONTACT] [varchar](50) NOT NULL,
	[REGISTRATION_DATE] [datetime2](7) NOT NULL,
	[STATUS] [bit] NOT NULL,
	[ROL] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[END_DATE] [datetime2](7) NOT NULL,
	[PERSONALNAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[LOANSTEACHER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[PERSONAL_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[CellPhone] [varchar](50) NOT NULL,
	[Rol] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Docentes] PRIMARY KEY CLUSTERED 
(
	[PERSONAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PINNED_POSTS]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PINNED_POSTS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[POST_ID] [bigint] NOT NULL,
	[CREATED_AT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSTS]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CATEGORY_ID] [bigint] NOT NULL,
	[TITLE] [varchar](250) NOT NULL,
	[CONTENT] [varchar](4000) NOT NULL,
	[CREATED_AT] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSTS_CATEGORIES]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTS_CATEGORIES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSTS_DOCS]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTS_DOCS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[POST_ID] [bigint] NOT NULL,
	[PATH] [varchar](300) NOT NULL,
	[NAME] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POSTS_IMAGES]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTS_IMAGES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[POST_ID] [bigint] NOT NULL,
	[PATH] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESERVATION_STATUS]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVATION_STATUS](
	[RESERVATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[STATUS_NAME] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RESERVATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USER_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ROLE_ID] [bigint] NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[PASSWORD_HASH] [varchar](255) NOT NULL,
	[CREATED_AT] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS_ROLES]    Script Date: 10/02/2026 9:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS_ROLES](
	[USER_ROLE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ROLE] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([USER_ID], [ROLE_ID], [USER_NAME], [PASSWORD_HASH], [CREATED_AT]) VALUES (1, 1, N'Test', N'c06db68e819be6ec3d26c6038d8e8d1f', CAST(N'2025-10-29T11:07:22.633' AS DateTime))
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS_ROLES] ON 

INSERT [dbo].[USERS_ROLES] ([USER_ROLE_ID], [ROLE]) VALUES (1, N'Administrador')
SET IDENTITY_INSERT [dbo].[USERS_ROLES] OFF
GO
ALTER TABLE [dbo].[LOANSTEACHER] ADD  DEFAULT ('') FOR [PERSONALNAME]
GO
ALTER TABLE [dbo].[PINNED_POSTS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[POSTS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [CREATED_AT]
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD FOREIGN KEY([ID_ACQUISITION])
REFERENCES [dbo].[ACQUISITION_TYPES] ([ACQUISITION_ID])
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD FOREIGN KEY([ID_AUTHOR])
REFERENCES [dbo].[AUTHORS] ([AUTHOR_ID])
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD FOREIGN KEY([ID_CATALOG])
REFERENCES [dbo].[CATALOGS] ([CATALOG_ID])
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD FOREIGN KEY([ID_CATEGORY])
REFERENCES [dbo].[CATEGORIES] ([CATEGORY_ID])
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD FOREIGN KEY([ID_COUNTRY])
REFERENCES [dbo].[COUNTRIES] ([COUNTRY_ID])
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD FOREIGN KEY([ID_EDITION])
REFERENCES [dbo].[EDITIONS] ([EDITION_ID])
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD FOREIGN KEY([ID_EDITORIAL])
REFERENCES [dbo].[EDITORIALS] ([EDITORIAL_ID])
GO
ALTER TABLE [dbo].[LOANS]  WITH CHECK ADD FOREIGN KEY([ID_BOOK])
REFERENCES [dbo].[BOOKS] ([BOOK_ID])
GO
ALTER TABLE [dbo].[LOANS]  WITH CHECK ADD FOREIGN KEY([ID_RESERVATION])
REFERENCES [dbo].[RESERVATION_STATUS] ([RESERVATION_ID])
GO
ALTER TABLE [dbo].[LOANS]  WITH CHECK ADD FOREIGN KEY([ID_TYPE])
REFERENCES [dbo].[LOAN_TYPES] ([TYPES_ID])
GO
ALTER TABLE [dbo].[PINNED_POSTS]  WITH CHECK ADD FOREIGN KEY([POST_ID])
REFERENCES [dbo].[POSTS] ([ID])
GO
ALTER TABLE [dbo].[POSTS]  WITH CHECK ADD FOREIGN KEY([CATEGORY_ID])
REFERENCES [dbo].[POSTS_CATEGORIES] ([ID])
GO
ALTER TABLE [dbo].[POSTS_DOCS]  WITH CHECK ADD FOREIGN KEY([POST_ID])
REFERENCES [dbo].[POSTS] ([ID])
GO
ALTER TABLE [dbo].[POSTS_IMAGES]  WITH CHECK ADD FOREIGN KEY([POST_ID])
REFERENCES [dbo].[POSTS] ([ID])
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[USERS_ROLES] ([USER_ROLE_ID])
GO
