<link rel="stylesheet" href="~/css/SideBar.css" />

<style>
    /* 1. ESTILO BASE DE LA FLECHA (Apuntando a la derecha) */
    .sidebar .nav .nav-item .nav-link .menu-arrow {
        -webkit-transition-duration: 0.25s;
        -moz-transition-duration: 0.25s;
        -ms-transition-duration: 0.25s;
        -o-transition-duration: 0.25s;
        transition-duration: 0.25s;
        transition-property: transform;
        display: inline-block;
        margin-left: auto;
    }

        /* Icono de la flecha hacia la DERECHA */
        .sidebar .nav .nav-item .nav-link .menu-arrow::before {
            content: "\f105"; /* Código de fa-angle-right */
            font-family: "FontAwesome";
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: rgba(255, 255, 255, 0.7);
        }

    /* 2. LÓGICA DE ROTACIÓN */

    /* Cuando el menú se ABRE (pierde la clase .collapsed), la flecha gira hacia abajo */
    .sidebar .nav .nav-item .nav-link:not(.collapsed) .menu-arrow {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    /* Cuando está CERRADO (tiene la clase .collapsed), se mantiene original (derecha) */
    .sidebar .nav .nav-item .nav-link.collapsed .menu-arrow {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    /* Ajustes de alineación */
    .nav-link {
        display: flex !important;
        align-items: center;
        width: 100%;
    }

    .menu-title {
        flex-grow: 1;
    }
</style>

<nav class="sidebar" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="profile-image">
                <img class="img-lg" src="../../img/esfe.png" alt="profile image">
            </div>
        </li>
        <li class="nav-item nav-category">BIBLIOTECA ESFE/AGAPE</li>

        <li class="nav-item">
            <a class="nav-link" href="#" id="redireccionHome">
                <span class="menu-title">Inicio</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#" id="redireccionBooks">
                <span class="menu-title">Libros</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" href="#submenu-gestionLibros" aria-expanded="false" aria-controls="submenu-gestionLibros">
                <span class="menu-title">Gestión de libros</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="submenu-gestionLibros">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#" id="redireccionCiudad">Ciudades</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#" id="redireccionAutor">Autores</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#" id="redireccionEditorial">Editoriales</a></li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-toggle="collapse" href="#submenu-mas" aria-expanded="false">
                            <i class="fas fa-ellipsis-h" style="margin-right: 10px;"></i>
                            <span class="menu-title">Más</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="submenu-mas">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="#" id="redireccionEdicion">Ediciones</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#" id="redirecionCatalogo">Catálogo</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#" id="redirecionCategoria">Categoría</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#" id="redirecionTipoAd">Tipo de adquisición</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#" id="redireccionListaLoans">
                <span class="menu-title">Préstamos de Estudiantes</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" href="#submenu-prestamo" aria-expanded="false">
                <span class="menu-title">Gestión de Préstamo</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="submenu-prestamo">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#" id="redireccionTipoLoan">Tipo de Préstamo</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#" id="redireccionEsLoan">Estado del Préstamo</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#" id="redireccionLDelite">Prestamos Eliminados</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#" id="redirectionRLoans">Exportar Prestamos Estudiantes</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-controller="LoansTeacher" asp-action="Index">
                <span class="menu-title">Préstamos General</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" href="#submenu-docente" aria-expanded="false">
                <span class="menu-title">Gestión General</span>
                <i class="menu-arrow"></i>
            </a>
        </li>
        <div class="collapse" id="submenu-docente">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Personal" asp-action="Index">Crear Personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="LoansTeacher" asp-action="LoansDelete">Préstamos Eliminados</a>
                </li>
            </ul>
        </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#" id="redireccionBlog">
                <span class="menu-title">Blog</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-toggle="collapse" href="#submenu-blog" aria-expanded="false">
                <span class="menu-title">Gestión de Blog</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="submenu-blog">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#" id="redireccionBlogCategories">Categorías</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#" id="redireccionUser">
                <span class="menu-title">Usuarios</span>
            </a>
        </li>
    </ul>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const redirectionMap = {
            redireccionHome: '/Admin/Index',
            redireccionBooks: '/Books/Index',
            redireccionBlog: '/Posts/Manage',
            redireccionBlogCategories: '/PostsCategories/Index',
            redireccionAutor: '/Authors/Index',
            redireccionEditorial: '/Editorials/Index',
            redireccionCiudad: '/Countries/Index',
            redireccionEdicion: '/Editions/Index',
            redirecionCatalogo: '/Catalogs/Index',
            redirecionCategoria: '/Categories/Index',
            redirecionTipoAd: '/AcquisitionTypes/Index',
            redireccionListaLoans: '/Loans/Index',
            redireccionEsLoan: '/ReservationStatus/Index',
            redireccionTipoLoan: '/LoanTypes/Index',
            redireccionUser: '/User/Index',
            redireccionLDelite: '/Loans/LoansDelite',
            redirectionRLoans: '/Loans/AllLoans'
        };

        Object.keys(redirectionMap).forEach(id => {
            const element = document.getElementById(id);
            if (element) {
                element.addEventListener('click', function (e) {
                    if (this.hasAttribute('data-toggle')) {
                        return;
                    }
                    e.preventDefault();
                    window.location.href = redirectionMap[id];
                });
            }
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/f225000782.js"></script>